# Entire Cache
*cache

# VSCode
.vscode

# PyCache
__pycache__
*.pyc

# Temporary Files
temp*

# Data Files (We manage tf records with git instead)
data
tfrecords

# TensorBoard
logs

# output files
output

# TensorflowSavedModel
savedmodel

# Nohup
nohup.out